---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post" data-categories="{{ post.categories | join: ', ' }}">

      <h1><a href="./{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      {% for category in post.categories %}
      <button data-category="#{{ category }}">{{ category }}</button>
      {% endfor %}

      <a href="./{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>